.list-box{
  padding: 20px 10%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  .flex-between{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .list-content{
    width: 100%;
    padding: 20px 0;
    font-size: 24px;
  }
}

.ant-table-thead{
  font-size: 20px;
  font-weight: 500;
}
.ant-table-tbody tr {
  // height: 80px!important;
  font-size: 20px;
}