.card-title {
  font-size: 26px;
  font-weight: bold;
  color: #333;
  padding-left: 10px;
}

.card-item {
  min-height: 0;
  font-size: 24px;
  color: #000;
  background-image: url('../../assets/right.png');
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 24px;
}

.card-item.log-out {
  color: #FF1D1D;
  background-image: none;
}

.card-btn {
  height: 50px;
  background: none;
  border: none;
  border: 1px solid rgba(49,97,184,1);
  border-radius: 8px;
  font-size: 18px;
  color: #3161B8;
  // padding: 8px 20px;
  padding: 0 20px;
  margin-right: 10px;
}

.card-btn.change-user {
  background: #3161B8;
  color: #fff;
  margin-left: 10px;
}

.device-detail table {
  width: 100%;
  background: rgba(248,248,248,1);
  margin-top: 10px;
}

.device-detail table thead tr{
  font-size: 24px;
  font-weight: bold;
  color: #333;
  border-bottom: 6px solid #fff;
}

.device-detail table thead tr th {
  padding: 20px 0 20px 20px;
}

.device-detail table tbody tr {
  font-size: 20px;
  font-weight: 400;
  color: #333;
  border-bottom: 0!important;
}

.device-detail table tbody tr td{
  padding: 15px 0 20px 20px;
}
.device-page .simple-card{
  padding: 20px 10px;
}
.device-page table {
  width: 100%;
  background: rgba(248,248,248,1);
}

.device-page table thead{
  line-height: 70px;
  font-size:20px;
  font-weight:500;
  color:#333;
  border-bottom: 6px solid #fff;
}

.device-page table thead tr th {
  text-align: center;
}

.device-page table tbody tr {
  height: 70px;
  font-size: 18px;
  font-weight: 400;
  color: #333;
  line-height: 70px;
  padding: 0 10px;
  border-bottom: 6px solid #fff;
}

.device-page table tbody tr td{
  text-align: center;
}

.device-page table tbody tr td>span {
  height: 16px;
  width: 10px;
  display: inline-block;
  background: #00E700;
  border-radius: 2px;
  margin-left: 2px;
}

// .device-page table tbody tr .low-battery>span:nth-child(1) {
//   background: #FF0012;
// }

// .device-page table tbody tr .low-battery>span:nth-child(2) {
//   background: #FF0012;
// }

// .device-page table tbody tr .low-battery>span:nth-child(3) {
//   background: #999999;
// }

// .device-page table tbody tr .low-battery>span:nth-child(4) {
//   background: #999999;
// }


// .device-page table tbody tr .full-battery>span:nth-child(1) {
//   background: #00E700;
// }

// .device-page table tbody tr .full-battery>span:nth-child(2) {
//   background: #00E700;
// }

// .device-page table tbody tr .full-battery>span:nth-child(3) {
//   background: #00E700;
// }

// .device-page table tbody tr .full-battery>span:nth-child(4) {
//   background: #00E700;
// }

.ring-status {
  font-size: 19px;
  font-weight: 400;
  padding: 20px 6px 10px 6px;
  color: #000;
}

.ring-status i{
  height: 20px;
  width: 20px;
  display: inline-block;
  background: #00E700;
  border-radius: 20px;
  margin: 0 10px;
}

.ring-status>i,
.ring-status>span {
  vertical-align: middle;
}

.breath-light {
  /* line-height: 80px; */
  font-size: 24px;
  font-weight: 400;
}

.light-switch {
  float: right;
}

.add-ring {
  line-height: 70px;
  text-align: center;
}