.advice {
  margin-top: 20px;
  .ant-input{
    font-size: 0.22rem!important;
  }
}

.signature{
  width: 100%;
  height: 0.4rem;
  padding-top: 0.2rem;
}

.signature div {
  float: right;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 0.4rem;
  font-size: 0.22rem;
}
.signature div:nth-child(2){
  width: 2rem;
}
.signature div:nth-child(1){
  width: 3rem;
}