.advice {
  margin-top: 20px;
  .ant-input,p,.sleep-advice{
    font-size: 0.22rem!important;
    margin: 0;
    padding: 0rem 0.2rem;
  }
}

.signature{
  width: 100%;
  height: 0.6rem;
  padding-top: 0.2rem;
}

.signature div {
  float: right;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 0.4rem;
  font-size: 0.22rem;
}
.signature div:nth-child(2){
  width: 2.7rem;
}
.signature div:nth-child(1){
  width: 3rem;
}