$color: #3161B8;

.header-container-1 {
  position: fixed;
  top: 0;
  left: 0;
  // z-index: 100;
  box-sizing: border-box;
  padding: 1rem 0 0.5rem 0;
  width: 100%;
  height: 2rem;
  background-image: url('../../assets/bg-top-my.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-weight: 500;
  color: #fff;
}
.header-container-2 {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 1rem 0 0.5rem 0;
  width: 100%;
  height: 7rem;
  background-image: url('../../assets/bg-top.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-weight: 500;
  color: #fff;
}

.header-cont{
  height: 0.7rem;
  box-sizing: border-box;
  padding: 0 0.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 100;
  span{
    font-size: 0.42rem;
  }
}

.header-title{
  font-size: 0.55rem;
}