.stage-table>span span {
  font-size: 0.2rem !important;
  line-height: 0.34rem;
}

.stage-table>span .table-value {
  font-size: 0.2rem !important;
}

.stage-table>span span:nth-child(even) {
  margin: 20px 0 !important;
}