.stage-table>span span {
  font-size: 16px !important;
  line-height: 34px;
}

.stage-table>span .table-value {
  font-size: 28px !important;
}

.stage-table>span span:nth-child(even) {
  margin: 20px 0 !important;
}