@mixin bg-attrs($url, $size) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: $size;
}

$input-height: 0.83rem;

@mixin span-size {
  display: inline-block;
  width: $input-height;
  height: $input-height;
}

.login-container {
  height: 100%;
  padding-top: 0.6rem;
  background-color: linear-gradient(167deg,rgba(15,37,76,0.7),rgba(11,63,158,0.7));
  @include bg-attrs(
    $url: '../../assets/login-bg.jpg',
    $size: cover
  );
  display: flex;
  flex-direction: column;
  .login-1 {
    padding: 24px 30px;
    img {
      width: 2.64rem;
      height: auto;
    }
  }
  .trans-btn {
    position: absolute;
    top: 5%;
    right: 5%;
    div {
      color: #fff;
      font-size: 26px;
      font-weight: bold;
      cursor: pointer;
    }
  }
  .login-2 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .form {
      width: 7rem;
      // height: 7rem;
      background: #F8F8F8;
      padding: 0.42rem 0.56rem 0.35rem;
      border-radius: 12px;
      input {
        height: $input-height;
        background: rgba(255,255,255,1);
        border: none;
        font-size: 0.39rem;
        color: #333333;
      }
      div:nth-child(1) {
        text-align: center;
        font-size: 0.42rem;
        color: #3161B8;
        font-weight: 600;
      }
      div:nth-child(2), div:nth-child(3) {
        position: relative;
        width: 100%;
        margin-top: 0.56rem;
        border: 1px solid rgba(223,223,223,1);
        border-radius: 4px;
        display: flex;
        span {
          @include span-size;
          background-color: #DFDFDF;
          @include bg-attrs(
            $url: '../../assets/username.png',
            $size: 0.44rem 0.47rem
          );
        }
        input {
          flex: 1;
          padding-left: 0.2rem;
          padding-right: $input-height;
        }
      }
      div:nth-child(3) {
        // margin-top: 0.56rem;
        span {
          background-image: url('../../assets/password.png');
        }
        span.eye {
          @include span-size;
          position: absolute;
          right: 0;
          top: 0;
          background-color: rgba(255,255,255,1);
          @include bg-attrs(
            $url: '../../assets/pw-hide.png',
            $size: 00.47rem 0.28rem
          );
        }
        span.eye.show {
          background-image: url('../../assets/pw-show.png');
        }
      }
      div:nth-child(4) {
        margin-top: 0.69rem;
        button {
          width: 100%;
          height: 0.89rem;
          background-color: #3161B8;
          border: none;
          border-radius: 8px;
          font-size: 0.42rem;
          color: #FFFFFF;
          font-weight: 500;
        }
      }
      div:nth-child(5) {
        margin-top: 25px;
        text-align: center;
        font-size: 28px;
        color: #728EC1;
        font-weight: 500;
      }
    }
  }
  .login-3 {
    padding: 20px 30px;
    font-size: 0.33rem;
    color: #B9C3D6;
  }
}
