.mine{
  position: relative;
  .mine-info{
    font-size: 0.42rem;
    height: 1.32rem;
    line-height: 1.32rem;
    border-bottom: 1px solid #999;
    label{
      margin-right: 0.7rem;
    }
    span{
      color: #999;
    }
  }
  .mine-logout{
    height: 1rem;
    width: 9.17rem;
    position: absolute;
    bottom: -2rem;
    left: 0.21rem;
    .am-button{
      border-radius: 12px;
      height: 1rem;
      line-height: 1rem;
      font-size: 0.4rem;
    }
  }
}