.table-box{
  width: 100%;
  z-index: 100;
  .noreport{
    // width: 100%;
    height: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .more-btn{
    margin: 0 auto;
    width: 2.5rem;
    height: 0.8rem;
    margin-bottom: 1rem;
    line-height: 0.8rem;
    opacity: 1;
    background: #4274e2;
    border-radius: 0.4rem;
    box-shadow: 2px 3px 10px 8px rgba(20,89,144,0.35); 
    text-align: center;
    font-size: 0.39rem;
    font-weight: 500;
    color: #ffffff;
  }

}
.table-report{
  height: 1.5rem;
  margin-bottom: 0.26rem;
  padding: 0 22px;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  .table-delete{
    width: 0.8rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      display: inline-block;
      width: 0.39rem;
      height: 0.42rem;
    }
  }
  .table-text{
    margin-left: 0.4rem;
    span{
      margin-right: 1rem;
    }
    p{
      margin: 0;

    }
    p:nth-child(1){
      font-size: 0.42rem;
      color: #333333;
      font-weight: 400;
    }
    p:nth-child(2){
      font-size: 0.33rem;
      color: #666666;
      font-weight: 400;
    }
  }
}
.table-device-box{
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 0.4rem;
  background-color: #FFFFFF;
  margin-bottom: 0.28rem;
  box-shadow: -5px 5px 30px #999999;
  .table-device:last-child{
    border-bottom: none;
  }
}
.table-device{
  height: 2rem;
  margin-bottom: 0.33rem;
  border-bottom: 3px solid #dcdcdc;
  display: flex;
  align-items: center;
  justify-content: left;
  .table-text{
    margin-left: 0.5rem;
    p{
      margin: 0;
      font-size: 0.3333rem;
      span:nth-child(1){
        color: #666666;
      }
      span:nth-child(2){
        color: #333333;
        font-weight: 400;
      }
    }
  }
  .translate-left{
    p{
      font-size: 0.26rem;
      height:0.5rem;
      overflow: hidden;
      input{
        font-size: 0.26rem;
        padding-bottom: 5px;
        display: inline;
        width: 2rem;
        border: none;
        border-bottom: 1px solid #999;
      }
    }
    margin-left: 0;
    position: absolute;
    right: 0.8rem;
    // transform: translateX(-0.5rem);
  }
}