/* 公共样式 */
html, body {
  padding: 0;
  margin: 0 auto;
  height: 100%;
}

body {
  font-family: Droidsansfallback,Droid Sans,Heiti SC,HelveticaNeue,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  font-size: 12px;
}

/* 清除滚动条 */
::-webkit-scrollbar {
  display: none;
}

/* 清除默认样式 */
input, button, select, textarea {
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
}

div, p, input {
  cursor: pointer;
}

a, a:link, a:hover, a:active, a:visited {
  text-decoration: none;
}

#app {
  height: 100%;
  .ant-pagination,.ant-table-pagination,.ant-table-pagination-right{
    font-size: 20px!important;
    padding-top: 10px;
    li{
      width: 40px;
      height: 30px;
      line-height: 30px;
    }
    .ant-pagination-options{
      display: none;
    }
  }
}

.app-container {
  height: 100%;
}

.container {
  height: 100%;
  position: relative;
  background: #f8f8f8;
  .content {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 1.6rem;
    padding-bottom: 1.5rem;
    box-sizing: border-box;
    display: flex;
    z-index: 1;
    .content-r {
      flex: 1;
      padding: 10px;
      overflow: auto;
      position: relative;
      .content-r-c {
        margin-bottom: 120px;
      } 
    }
  }
}

.simple-card {
  background: #fff;
  padding: 20px;
  margin-bottom: 10px;
  min-height: 80px;
  box-shadow: 0 0 10px #eee;
}

.am-modal-transparent{
  width: 5rem!important;
}
.am-modal{
  .am-modal-content{
    .am-modal-header{
      padding: 0.3rem 0.2rem;
      .am-modal-title{
        font-size: 0.39rem;
      }
    }
    .am-modal-body{
      padding: 0 0.5rem!important;
      .am-modal-alert-content{
        font-size: 0.3rem;
        line-height: 0.6rem;
      }
    }
    .am-modal-footer{
      .am-modal-button-group-h{
        height: 0.8rem;
      }
      .am-modal-button{
        height: 0.8rem!important;
        line-height: 0.8rem!important;
        font-size: 0.4rem!important;
      }
    }
  }
}
.am-toast-text {
  padding: 0.3rem!important;
  border-radius: 0.1rem!important;
  .am-icon{
    width: 0.6rem;
    height: 0.6rem;
  }
  .am-toast-text-info,div{
    font-size: 0.5rem;
  }
}

// 时间组件样式修改
.am-picker-popup-wrap{
  .am-picker-popup{
    height: 40%;
    .am-picker-popup-content{
      .am-picker-popup-body{
        
        .am-picker-popup-header{
          .am-picker-popup-item{
            height: 0.6rem;
            line-height: 0.6rem;
            font-size: 0.3rem;
          }
          .am-picker-popup-header-right,.am-picker-popup-header-left{
            padding: 0.1rem 0.6rem;
            text-align: center;
          }
        }
        .am-picker{
          .am-picker-col{
            height: 4rem;
            .am-picker-col-mask{
              // height: 6rem;
            }
            .am-picker-col-indicator {
              top: 2rem!important;
              height: 0.5rem;
            }
            .am-picker-col-content{
              padding-top: 2rem!important;
              .am-picker-col-item {
                height: 0.5rem;
                line-height: 0.5rem;
                font-size: 0.3rem!important;
              }
            }
          }
          
          
        }
      }
      height: 100%;
    }
  }
  
} 