/* 公共样式 */
html, body {
  padding: 0;
  margin: 0 auto;
  height: 100%;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  font-size: 12px;
  padding-top: 40px;
}

/* 清除滚动条 */
::-webkit-scrollbar {
  display: none;
}

/* 清除默认样式 */
input, button, select, textarea {
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
}

div, p, input {
  cursor: pointer;
}

a, a:link, a:hover, a:active, a:visited {
  text-decoration: none;
}

#app {
  height: 100%;
  .ant-pagination,.ant-table-pagination,.ant-table-pagination-right{
    font-size: 30px!important;
    li{
      width: 60px;
      height: 40px;
      line-height: 40px;
    }
    .ant-pagination-options{
      display: none;
    }
  }
}

.app-container {
  height: 100%;
}

.container {
  height: 100%;
  position: relative;
  .content {
    height: 100%;
    padding-top: 102px;
    box-sizing: border-box;
    display: flex;
    .content-r {
      flex: 1;
      padding: 20px;
      overflow: auto;
      background: #f8f8f8;
      .content-r-c {
        margin-bottom: 120px;
        box-shadow: 0 0 10px #eee;
      } 
    }
  }
}

.simple-card {
  background: #fff;
  padding: 20px;
  margin-bottom: 10px;
  min-height: 80px;
  box-shadow: 0 0 10px #eee;
}
